<!DOCTYPE html>
<html>

<head>

    <title>Profile Page</title>

    <link rel="stylesheet" type="text/css" href="../css/index_style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <meta http-equiv="Content-type" content="text/html" charset="utf-8">

</head>

<body>

<div class="wrapper">

    <div class="content">

                <div class="header">
                    <div class="container">
                        <div class="header__row">
                            <ul class="logo">
                                <li class="logo__list"><a href="index.html">Coursetica</a></li>
                            </ul>
                            <div class="menu">
                                <ul class="menu__list">
                                    <li class="menu__element"><a href="index.html">Main</a></li>
                                    <li class="menu__element"><a href="about.html">Profile</a></li>
                                    <li class="menu__element"><a href="services.html">Courses</a></li>
                                    <li class="menu__element"><a href="">Tasks</a></li>
                                    <li class="menu__element"><a href="">Chat</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="create-course">
                    <div class="container">
                        <div class="title">JOIN COURSE</div>
                        <div class="description">Enter code to join to the course.</div>
                    </div>
                    <div class="create-course-form">
                            <form class="create-course-form__box" action="" method="">
                                <input type="text" name="title" placeholder="Enter Code">
                                
                                <input type="submit" value="Join">
                            </form>
                    </div>
                </div>


                <!-- <div class="welcome_student">
                    <div class="container">
                        <div class="welcome_student__items">
                            <div class="title">CREATE COURSE</div>
                        </div>

                        <div class="create-course-form">
                            <form class="create-course-form__box" action="" method="">
                                <input type="text" name="title" placeholder="Сourse Name">
                                <textarea class="create-course-form__info" name="info" placeholder="Course Info"></textarea>
                                <div class="form_radio_group">
                                    <div class="form-radio_group__item form-radio_group__item-first">
                                        <input id="radio-1" type="radio" name="role" value="teacher" checked>
                                        <label for="radio-1">Public</label>
                                    </div>
                                <div class="form-radio_group__item">
                                    <input id="radio-2" type="radio" name="role" value="curator">
                                    <label for="radio-2">Private</label>
                                </div>  
                                </div>
                            </form>
                        </div>

                    </div>
                </div> -->

                
    </div>    

    <footer class="footer">
        <div class="first-footer">
            <div class="container">
                <ul class="footer__list">
                    <li class="footer__elements">
                        <div class="footer__elements-title">About Us</div>
                        <div class="footer__elements-logo">
                            <div class="footer__elements-logo-name">Coursetica</div>
                        </div>
                        <p class="footer__elements-text">Website for the introduction of the course of choice and practices!</p>
                    </li>
                    <li class="footer__elements">
                        <div class="footer__elements-title">Contacts</div>
                        <p class="footer__elements-description">Have a questions? Contact us by email or on social
                            networks!</p>
                        <div class="footer__contacts">
                            <div class="footer__contacts-address">Kazan, Russia</div>
                            <ul class="footer__links">
                                <li class="footer__links-element"><a href=""><img src="../img/vk-social-logotype.png" alt=""></a></li>
                                <li class="footer__links-element"><a href=""><img src="../img/instagram%20(2).png" alt=""></a>
                                </li>
                                <li class="footer__links-element"><a href=""><img src="../img/twitter%20(3).png"
                                                                                  alt=""></a></li>
                                <li class="footer__links-element"><a href=""><img src="../img/facebook%20(2).png" alt=""></a>
                             </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="second-footer">Copyright ©2021 All rights reserved</div>
    </footer>

</div>

</body>

</html>